<!DOCTYPE html>
<html lang="en">
<head>
    <title>Base de datos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1>Formulario Principal</h1>
    {% for person in people %}
        
    <div class="alert alert-primary" role="alert">
  
      <!-- Nombre: {{person[0]}} - Telefono {{person[3]}} -->
      Nombre: {{person[0]}} - Genero: {{person[2]}}

    </div>
    
    {% endfor %}
</body>
</html>